.first-name {
  margin: 0 0 25px 0;
}
.last-name {
  margin: 25px 0 25px 0;
}
.MuiSelect-select {
  min-width: 200px;
}
.column-1,
.column-2 {
  width: 40%;
}

.student-form-sections {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 5px;
}
