.hogwarts-flag {
  height: 350px;
}
.hogwarts-txt {
  width: 350px;
}

.hogwarts-byline {
  color: #e6d861;
}
/* .page-content {
  padding: 0 10px 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
