.sidemenu {
  padding-top: var(--page-padding-top);
  min-width: 230px;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.sidemenu img {
  height: 50px;
  margin-left: 48px;
  margin-bottom: 20px;
}

.sidemenu .navbar-link,
.sidemenu .navbar-link-active {
  padding-left: 50px;
  display: block;
}

.sidemenu .navbar-link:hover,
.sidemenu .navbar-link-active:hover {
  background-color: #6ce4fe;
  color: black;
}
.sidemenu .navbar-link {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 13px 0 13px 50px;
  font-size: 18px;
}

.sidemenu .navbar-link-active {
  color: black;
  font-weight: 600;
}
